/* line 7, ../sass/button.scss */
.btn-danger {
  background-color: #ff4118;
}

/* line 8, ../sass/button.scss */
.btn-success {
  background-color: #35b500;
}

/* line 9, ../sass/button.scss */
.btn-primary {
  background-color: #1868ff;
}

/* line 11, ../sass/button.scss */
.btn {
  width: auto;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  margin: 5px 5px;
  font-size: 17px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
}
/* line 25, ../sass/button.scss */
.btn:hover {
  cursor: pointer;
}
